is_wsl: true
setup_user: romira
windows_user: romira
apt:
  dependencies:
    - "{{ (ansible_distribution == 'Debian' and ansible_distribution_major_version is version('8', '<')) | ternary('python-apt', 'python3-apt') }}"
    - aptitude
    - gnupg
    - libbz2-dev
    - libfuse2
    - librust-zip+deflate-zlib-dev
  repositories:
    - ppa:fish-shell/release-3
  package:
    - unzip
    - build-essential
    - procps
    - curl
    - file
    - git
    - lldb
    - tor
    - cmake
    - wakeonlan
    - keychain
    - zsh
    - fish
    - ttf-mscorefonts-installer
    - sshpass
    - fcitx-bin
    - fcitx-mozc
    - dbus-x11
    - language-pack-ja
    - nautilus
    - apache2-utils
  install_state: present
bitwarden:
  server: https://vaultwarden.romira.dev
  email_address: "{{ vault_bitwarden.vault_email_address }}"
  password: "{{ vault_bitwarden.vault_password }}"
develop_configuration:
  bw_ssh_private_key_attachment_name: id_ed25519_romira_private_key
  bw_ssh_private_key_item_id: 2c5a6eeb-b1e8-4217-b0b5-4d9d69d3cf76
  ssh_passphrase: "{{ vault_develop_configuration.vault_ssh_passphrase }}"
  directories:
    - "/home/{{ setup_user }}/.config/fish/"
    - "/home/{{ setup_user }}/.config/mcfly/"
    - "/home/{{ setup_user }}/.local/bin/"
    - "/home/{{ setup_user }}/workspace/repositories"
  symbolic_links:
    - src: "/home/{{ setup_user }}/.config/romira-s-config/git/.gitconfig"
      dest: "/home/{{ setup_user }}/.gitconfig"
    - src: "/home/{{ setup_user }}/.config/romira-s-config/shell/.profile"
      dest: "/home/{{ setup_user }}/.profile"
    - src: "/home/{{ setup_user }}/.config/romira-s-config/fish/config.fish"
      dest: "/home/{{ setup_user }}/.config/fish/config.fish"
    - src: "/home/{{ setup_user }}/.config/romira-s-config/zsh/.zshrc"
      dest: "/home/{{ setup_user }}/.zshrc"
    - src: "/home/{{ setup_user }}/.config/romira-s-config/zsh/.zpreztorc"
      dest: "/home/{{ setup_user }}/.zpreztorc"
    - src: "/home/{{ setup_user }}/.config/romira-s-config/bash/.bashrc"
      dest: "/home/{{ setup_user }}/.bashrc"
    - src: "/home/{{ setup_user }}/.config/romira-s-config/bash/.bash_profile"
      dest: "/home/{{ setup_user }}/.bash_profile"
    - src: "/home/{{ setup_user }}/.config/romira-s-config/vim/.vim"
      dest: "/home/{{ setup_user }}/.vim"
    - src: "/home/{{ setup_user }}/.config/romira-s-config/vim/.vimrc"
      dest: "/home/{{ setup_user }}/.vimrc"
    - src: "/home/{{ setup_user }}/.config/romira-s-config/tmux/.tmux.conf"
      dest: "/home/{{ setup_user }}/.tmux.conf"
    - src: "/home/{{ setup_user }}/.config/romira-s-config/latex/.latexmkrc"
      dest: "/home/{{ setup_user }}/.latexmkrc"
    - src: "/home/{{ setup_user }}/.config/romira-s-config/miniconda3/.condarc"
      dest: "/home/{{ setup_user }}/.condarc"
    - src: "/home/{{ setup_user }}/.config/romira-s-config/zsh/.git-prompt.sh"
      dest: "/home/{{ setup_user }}/.git-prompt.sh"
    - src: "/home/{{ setup_user }}/.config/romira-s-config/mcfly/mcfly.fish"
      dest: "/home/{{ setup_user }}/.config/mcfly/mcfly.fish"
    - src: "/home/{{ setup_user }}/workspace/repositories/github.com/joaojacome/bitwarden-ssh-agent/bw_add_sshkeys.py"
      dest: "/home/{{ setup_user }}/.local/bin/bw_add_sshkeys"
  wsl_symbolic_links:
    - src: /mnt/c/Windows/System32/clip.exe
      dest: "/home/{{ setup_user }}/.local/bin/clip"
    - src: "/mnt/c/Users/{{ windows_user }}/AppData/Local/Programs/Microsoft VS Code/bin/code"
      dest: "/home/{{ setup_user }}/.local/bin/code"
    - src: /mnt/c/Windows/explorer.exe
      dest: "/home/{{ setup_user }}/.local/bin/explorer"
    - src: /mnt/c/Program Files (x86)/Microsoft/Edge/Application/msedge.exe
      dest: "/home/{{ setup_user }}/.local/bin/msedge"
gh:
  github_fine_grained_token: "{{ vault_gh.vault_github_fine_grained_token }}"
  repository:
    - repo: Romira915/ssh-config
      dest: "/home/{{ setup_user }}/.tmp/.ssh"
    - repo: joaojacome/bitwarden-ssh-agent
      dest: "/home/{{ setup_user }}/workspace/repositories/github.com/joaojacome/bitwarden-ssh-agent"
    - repo: Romira915/romira-s-config
      dest: "/home/{{ setup_user }}/.config/romira-s-config"
    - repo: sorin-ionescu/prezto
      dest: "/home/{{ setup_user }}/.zprezto"
    - repo: fcsonline/tmux-thumbs
      dest: "/home/{{ setup_user }}/.tmux/plugins/tmux-thumbs"
user:
  groups: []
  absent_groups: []
  users:
    - name: "{{ setup_user }}"
      groups:
        - sudo
      password: "{{ vault_user.vault_romira.vault_password }}"
      password_salt: "{{ vault_user.vault_romira.vault_password_salt }}"
      authorized_keys: https://github.com/Romira915.keys
  absent_users: []
additional_path: "/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin:/home/{{ setup_user }}/.cargo/bin"
miniconda_parent_dir: "/home/{{ setup_user }}/.local/share"
miniconda_link_subdir: ../../.miniconda3
miniconda_escalate: false
