---
# ルールを全てリセットしたい場合は以下をコメントアウトする．
- name: Accept input packet unmatched in rule
  ansible.builtin.iptables:
    chain: INPUT
    policy: ACCEPT
  become: true
  tags:
    - iptables

- name: Flush iptables
  ansible.builtin.iptables:
    table: "{{ item }}"
    flush: true
  become: true
  loop: [filter, nat, mangle, raw, security]
  tags:
    - iptables

- name: Allow related and established connections
  ansible.builtin.iptables:
    chain: INPUT
    ctstate:
      - ESTABLISHED
      - RELATED
    jump: ACCEPT
  become: true
  tags:
    - iptables

- name: Allow icmp
  ansible.builtin.iptables:
    chain: INPUT
    protocol: icmp
    jump: ACCEPT
  become: true
  tags:
    - iptables

- name: Allow local loopback
  ansible.builtin.iptables:
    chain: INPUT
    in_interface: lo
    jump: ACCEPT
  become: true
  tags:
    - iptables

- name: Allow connections on multiple ports
  ansible.builtin.iptables:
    chain: INPUT
    protocol: "{{ item.protocol | default(omit) }}"
    destination_ports: "{{ item.port }}"
    jump: ACCEPT
    comment: "{{ item.comment | default(omit) }}"
  become: true
  when: item.port | string | length > 0
  loop: "{{ iptables.allowed_ports }}"
  tags:
    - iptables

- name: Allow connections in interface
  ansible.builtin.iptables:
    chain: INPUT
    in_interface: "{{ item.interface }}"
    jump: ACCEPT
    comment: "{{ item.comment | default(omit) }}"
  become: true
  loop: "{{ iptables.allowed_input_interfaces }}"
  tags:
    - iptables

- name: Allow forward
  ansible.builtin.iptables:
    chain: FORWARD
    source: "{{ item.source | default(omit) }}"
    source_port: "{{ item.source_port | default(omit) }}"
    in_interface: "{{ item.in_interface | default(omit) }}"
    destination: "{{ item.destination | default(omit) }}"
    destination_port: "{{ item.destination_port | default(omit) }}"
    out_interface: "{{ item.out_interface | default(omit) }}"
    jump: ACCEPT
    comment: "{{ item.comment | default(omit) }}"
  become: true
  loop: "{{ iptables.allowed_forward }}"
  tags:
    - iptables

- name: Allow ip masquerade
  ansible.builtin.iptables:
    table: nat
    chain: POSTROUTING
    source: "{{ item.source | default(omit) }}"
    in_interface: "{{ item.in_interface | default(omit) }}"
    destination: "{{ item.destination | default(omit) }}"
    out_interface: "{{ item.out_interface | default(omit) }}"
    jump: MASQUERADE
    comment: "{{ item.comment | default(omit) }}"
  become: true
  loop: "{{ iptables.allowed_nat }}"
  tags:
    - iptables

# sshの遮断を防ぐためポリシー系は最後に設定する．
- name: Ensure input policy is drop
  ansible.builtin.iptables:
    chain: INPUT
    policy: DROP
  become: true
  tags:
    - iptables

- name: Ensure output policy is accept
  ansible.builtin.iptables:
    chain: OUTPUT
    policy: ACCEPT
  become: true
  tags:
    - iptables

- name: Ensure forward policy is accept
  ansible.builtin.iptables:
    chain: FORWARD
    policy: DROP
  become: true
  tags:
    - iptables
